<div id="content" class="snap-content">         
    <div class="header">
        <a href="#" class="sidebar-deploy"><i class="fa fa-navicon"></i></a>
        <h3>TODOLIST</h3>
        <a href="contact.html" class="contact-deploy"><i class="fa fa-envelope-o"></i></a>
    </div>
    
    <div class="signup-page bg2">
        <div class="signup-page-overlay"></div>
        <div class="signup-page-wrapper">
            <a href="#" class="signup-logo"></a>
            <p>
                Créer un compte ci-desssous, c'est vraiment facile! 
            </p>
            <input id="email" type="text" class="signup-email" placeholder="Email">
            <input type="text" class="signup-password" placeholder="Mot de passe" style="margin-bottom:0px">
            <input type="text" class="signup-password" placeholder="Confirmez le mot de passe">
            <div class="one-half">
                 <a id="add" href="/inscription" class="button button-green full-button"">S'inscrire</a>
                 <a href="/todo" class="button button-green full-button"">Retour</a>
            </div> 
         </div>
    </div>
</div>  

                