<!DOCTYPE HTML>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="user-scalable=no, initial-scale=1.0, maximum-scale=1.0 minimal-ui" />
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="apple-mobile-web-app-status-bar-style" content="black">

    <title>TODOLIST</title>

    <link rel="stylesheet" href="lib/jquery/jquery-ui.min.css" />
    <link rel="stylesheet" href="lib/bootstrap/css/bootstrap.min.css" />
    <link rel="stylesheet" href="dist/lobilist.min.css">
    <link rel="stylesheet" href="lib/highlight/github.css">
    <link rel="stylesheet" href="lib/lobibox/css/lobibox.min.css">


    <link href="styles/style.css" rel="stylesheet" type="text/css">
    <link href="styles/framework.css" rel="stylesheet" type="text/css">
    <link href="styles/owl.theme.css" rel="stylesheet" type="text/css">
    <link href="styles/swipebox.css" rel="stylesheet" type="text/css">
    <link href="styles/font-awesome.css" rel="stylesheet" type="text/css">
    <link href="styles/animate.css" rel="stylesheet" type="text/css">
   

</head>
<body>

    <div id="preloader">
        <div id="status">
            <p class="center-text">
                Chargement du contenu...
                <em>Le chargement dépend de la vitesse de votre connexion!</em>
            </p>
        </div>
    </div>
    <div class="gallery-fix"></div> <!-- Important for all pages that have galleries or portfolios -->

    <div class="all-elements">
        <div class="snap-drawers">
            <!-- Left Sidebar -->
            <div class="snap-drawer snap-drawer-left">
                <div class="sidebar-header">
                    <a href="https://www.facebook.com/sharer/sharer.php?u=http://www.themeforest.net/"><i class="fa fa-facebook"></i></a>
                    <a href="https://twitter.com/home?status=Check%20out%20ThemeForest%20http://www.themeforest.net"><i class="fa fa-twitter"></i></a>
                    <a href="https://plus.google.com/share?url=http://www.themeforest.net"><i class="fa fa-google-plus"></i></a>
                    <a href="contact"><i class="fa fa-envelope-o"></i></a>
                    <a class="sidebar-close" href="#"><i class="fa fa-times"></i></a>
                </div>
                <a href="index" class="sidebar-logo"></a>
                <div class="sidebar-decoration"></div>
               <ul class="sidebar-menu">
                    <li class="has-submenu"><a href="index"><i class="fa fa-home"></i>Page d'accueil<i class="fa fa-circle"></i></a></li>
                    <li class="has-submenu">
                        <% if( !name ){ %>
                        <a class="deploy-submenu" href="#"><i class="fa fa-mobile"></i>Connexion<i class="fa fa-plus"></i></a>
                         <% } %>
                        <ul class="submenu">
                            <li><a href="/connection"><i class="fa fa-angle-right"></i>Se connecter<i class="fa fa-circle"></i></a></li>
                            <li><a href="/inscription"><i class="fa fa-angle-right"></i>S'inscrire<i class="fa fa-circle"></i></a></li>
                        </ul>
                    </li>
                    <% if(name ){ %>
                    <li><a href="taskslist"><i class="fa fa-pencil"></i>Taches<i class="fa fa-circle"></i></a></li>
                    <% } %>
                    <li><a href="contact"><i class="fa fa-envelope"></i>Contacts<i class="fa fa-circle"></i></a></li>
                    <li><a href="settings"><i class="fa fa-cogs"></i>Réglages<i class="fa fa-circle"></i></a></li>
                    <li><a href="credits"><i class="fa fa-users"></i>Crédits<i class="fa fa-circle"></i></a></li>
                    <li><a href="#" class="sidebar-close"><i class="fa fa-times"></i>Fermer<i class="fa fa-circle"></i></a></li>
                </ul>
                <div class="sidebar-copyright">
                    Copyright 2015. Tous droits réservés.
                </div>
                <div class="center-socials">
                    <a href="#" class="facebook-color facebook-social"><i class="fa fa-facebook"></i></a>
                    <a href="#" class="google-color google-social"><i class="fa fa-google-plus"></i></a>
                    <a href="#" class="twitter-color twitter-social"><i class="fa fa-twitter"></i></a>
                </div>
            </div>
        </div>

        <!-- Page Content-->
        <div id="content" class="snap-content">
            <div class="header">
                <a href="#" class="sidebar-deploy"><i class="fa fa-navicon"></i></a>
                <h3>TODOLIST</h3>
                <a href="contact" class="contact-deploy"><i class="fa fa-envelope-o"></i></a>
                <a href="/deconnection" class="sign-out"><i class="fa fa-sign-out" aria-hidden="false"></i></a>
            </div>
            <iframe src="fallback" style="width:100%;height:100%;top:0;left:0"></iframe>
        </div>
    </div>

    <script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous"></script>

    <script type="text/javascript" src="scripts/jquery.js"></script>
    <script type="text/javascript" src="scripts/jqueryui.js"></script>
    <script type="text/javascript" src="scripts/framework.plugins.js"></script>
    <script type="text/javascript" src="scripts/custom.js"></script>

    <script src="lib/jquery/jquery.min.js"></script>
    <script src="lib/jquery/jquery-ui.min.js"></script>
    <script src="lib/jquery/jquery.ui.touch-punch-improved.js"></script>
    <script src="lib/bootstrap/js/bootstrap.min.js"></script>
    <script src="dist/lobilist.js"></script>

    <script src="lib/lobibox/js/lobibox.min.js"></script>
    <script src="lib/highlight/highlight.pack.js"></script>
    <script src="demo/demo.js"></script>
</body>

